nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
    background: red;

}
.bg-white{
    background:darkred !important;
    color: white;
}
 .nav-link{
            color:#fff !important;
        }
