
nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}



.nav-link {
    color: white;
    text-decoration: none;

}

main {
    min-height: 80vh !important;
}



.page-footer {
    background-color: #940808;
    color: rgb(202, 197, 197);
    padding: 8px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    width: 100%;


}

.page-footer h5 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}