.container {
    max-width: 500px;
    margin: 0 auto;


}

.card {
    margin-top: 80px;
    justify-content: center;
    border-radius: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;



}

.card-body {
    padding: 30px;
    background-color: #fff;



}

/* form control */
.form-control {
    border-radius: 5px;
}

.form-check-input {
    margin-top: 7px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0F8CFE;
}

.btn-link {
    color: #2196F3;
}

.btn-link:hover {
    text-decoration: none;
    color: #0F8CFE;
}

/* Background Image */
body {
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

}